<?xml version="1.0"?>
<launch>

    <!-- 启动rviz -->
    <arg name="rviz" default="true" />

    <!-- 设置地图的配置文件 -->
    <arg name="2dmap_file" default="/home/zgx/Desktop/G1map.yaml" />
    <arg name="2dmap_frame" default="map"/>

    <!-- 直接发布到标准 /map 话题 -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg 2dmap_file)" >
        <param name="frame_id" value="$(arg 2dmap_frame)"/>
    </node>

    <!-- rviz display -->
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" />
    </group>

</launch>
