<launch>
    <arg name="map_yaml" default="/home/unitree/zgx_g1/.runtime/maps/G1map.yaml" />
    <arg name="pcd_path" default="$(find fastlio)/PCD/map.pcd" />

    <node pkg="tf" type="static_transform_publisher" name="$(anon base_to_body)" args="0.0 0 0.0 3.1416 3.1416 0 body base_link 100" /> 
    
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" />
    
    <rosparam command="load" file="$(find fastlio)/config/localize.yaml" />
    <node pkg="fastlio" type="localizer_node" name="localizer_node" output="screen"/>
    
    <node pkg="fastlio" type="slam_reloc.py" name="slam_reloc" output="screen">
        <param name="pcd_path" value="$(arg pcd_path)" />
    </node>
    
    <!-- 加载 2D 栅格地图 -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)" output="screen"/>
    
    <include file="$(find tool)/launch/downsample_pointcloud.launch">
        <arg name="pcd_file" value="$(find fastlio)/PCD/ground_map.pcd"/>
    </include>
    
    <include file="$(find xju_pnc)/launch/move_base.launch" />
    <include file="$(find pointcloud_to_laserscan)/launch/point_to_scan.launch" />
    <include file="$(find tool)/launch/body2any_pointcloud.launch" />
    <include file="$(find velocity_smoother_ema)/launch/velocity_smoother_ema.launch" />
    
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fastlio)/rviz/localize.rviz" />
</launch>
